* {
    max-width: 100vw    ;
    scroll-behavior: smooth;
    
}

/*  BODY  */
body {
    background-color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    padding-bottom: 5rem;
    width: 100%;

}

hr{

    width: calc(100%-8rem);
    
}






