* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center; /* centra horizontal y vertical */
    text-align: center;

    background-image: url(../img/fondoLogin.jpg);
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-box {
    position: relative;
    width: 407px;
    height: 455px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
}

h2 {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 1px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    pointer-events: none;
    transition: all 0.5s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    font-weight: bold;
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffffff;
    padding: 0 5px; /* Ajustado para quitar espacio del icono */
}

button {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    transition: all 0.2s ease;
}

button:hover {
    box-shadow: 5px 5px 5px rgba(44, 4, 4, 0.8);
    transform: scale(1.025);
}

.register-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
