/* ============================ POPUP GLOBAL ============================ */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 9999;
}

.popup-overlay.active {
    display: flex; /* Mostrar popup */
}

.popup {
    background: white;
    width: 600px;
    max-height: 85vh;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: popupFade 0.25s ease;
}

@keyframes popupFade {
    from { transform: scale(0.95); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #ddd;
    background: #fafafa;
}

.popup-close-btn {
    background: transparent;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: #444;
}

.popup-content {
    padding: 1.5rem;
    overflow-y: auto;
    max-height: calc(85vh - 150px);
}

.popup-content label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 600;
}

.popup-content input,
.popup-content textarea,
.popup-content select {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.95rem;
}

.popup-content textarea {
    resize: vertical;
    min-height: 80px;
}

.popup-botones {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem 1.5rem;
    border-top: 1px solid #ddd;
    background: #fafafa;
}

.btnCancelar,
.btnAceptar {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-size: 0.95rem;
}

.btnCancelar {
    background: #ccc;
}

.btnAceptar {
    background: #FF2D24;
    color: white;
}


.btnPeligro {
    background: #d11a1a !important;
    color: white !important;
}
.popup-error {
    background: #ffe0e0;
    color: #a30000;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    border: 1px solid #ffb3b3;
}

.popup-error.oculto {
    display: none;
}
