#welcome,
#noticias,
#eventos,
#premios,
#patrocinadores,
#gala{
    width: 80%;
    height: fit-content;
    scroll-margin-top: 3.5rem;
    padding-left: 10rem;
    padding-right: 6rem;
    transition: all 0.3s ease;

}

#noticias{
    scroll-margin-top: 5rem;
}

hr{
    margin-top: 1rem;
}



h2 {
    text-decoration: none;
    color: red;
}

h3{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.contenedor_noticias,
.contenedor_eventos,
.contenedor_patrocinadores {
    max-width: 100%;
}



/* TABLAS */

.tabla {
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
    margin: auto;
}

.tabla th {
    margin: 0 auto;
    text-align: left;
    padding-bottom: 0.8rem;
    
}

.tabla td {
    padding: 0.8rem;
    width: 450px;
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid black;
    text-align: left;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
}

.tabla td.acciones {
    width: fit-content;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    border: none;
    white-space: nowrap;
    background-color: transparent;
}



/* ============================ GALA ============================ */

/* Panel */
.gala-panel {
    display: block;
}
.acciones-gala{
    display: flex;
    gap: 1rem;
}
